.mobilerider-playlist-container {
	position: relative;
	height: 200px;
        overflow: hidden;
}
ul.mobilerider-playlist {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.mobilerider-playlist li {
    float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
}
ul.mobilerider-playlist li img{
	width: 200px;
	height: 113px;
}
.mobilerider-playlist-controls {
	position: absolute;
    margin-top: -156px;
}
.mobilerider-playlist-control {
	height: 40px;
	width: 38px;
	position: relative;
}
.mobilerider-playlist-prev {
	background: url(../img/prev-horizontal.png) no-repeat;
	left: -13px;
}
.mobilerider-playlist-next {
	background: url(../img/next-horizontal.png) no-repeat;
	top: -40px;
	left: 900px;
}
.mobilerider-playlist-prev:hover {
	background-position: left -43px;
}
.mobilerider-playlist-next:hover {
	background-position: left -43px;
}
